VITE_SUPABASE_FUNCTION_URL=https://rlppmkygztpdcytoeprl.supabase.co/functions/v1/anime-schedule-proxy
VITE_SUPABASE_URL=https://rlppmkygztpdcytoeprl.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=cole_a_chave_publica_do_supabase_aqui
